<div ng-controller="AppsListCtrl" class="container">
  <h1>GooglePlay Apps Search</h1><br>
  <input type="text" id='user' placeholder="Enter Category">
  <input type="text" id='repo' placeholder="Enter Top K" value="20">
  <br>
  <input type='text' id='keyword' placeholder="Enter Search Keyword"><br>
  <button id='search' class='btn btn-info' ng-click="search()">Search Now</button>
  <hr/>  
  <div ng-if="error" class="alert alert-danger" role="alert">{{reason}}</div>
  <div ng-if="results" class="result">
    <ul>
      <li ng-repeat="app in results">        
        <a href='{{html_url}}' target='_blank'>{{getAttributes(app._source.results).name}}</a>
        <p>
        Category: {{getAttributes(app._source.results).category}}, 
        Price: {{getAttributes(app._source.results).price}},
        Score: {{getAttributes(app._source.results).score}}.
        </p>
        <hr/>
      </li>
  </ul>
  </div>
</div>